<div class='miniuser-list'>
<center>


<div class="container">
<ul>
	<% @entries.each do |entry| %>
		<div class='miniuser'>
			
				<a href="/entries/<%= entry.id %>"><b><%= entry.title.upcase %></b></a>
				<br>
				<br>
				<%= entry.post %>
				<h5>#<%= entry.tags.join(", #")%></h5>
				<h5>POSTED: <%= entry.date_posted %></h5>
		

		</div>
	<% end %>
</ul>
</div>



</center>
</div>