<center>
	<h2><b><%= @entry.title %></b></h2>
		<div class="entrypost">
			<h5>#<%= @entry.tags.join(", #")%></h5>
			<h5>POSTED: <%= @entry.post %></h5>
				<div>
					<a href="/entries/<%= @entry.id %>/edit">EDIT THIS POST</a>
						<br>
						<br>
					<form action="/entries/<%= @entry.id %>" method="post">
						<input type="hidden" name="_method" value="delete" />
							<div class="myButton">
						<input type="submit" value="DELETE THIS POST">		
							</div>
					</form>
				</div>	
		</div>			
</center>