<center>
<h2><%= @user.username %></h2>
<img src="<%= @user.avatar %>" class="avatar">

<div class="container">
<ul>
	<% current_user.entries.each do |entry| %>
		<div class='miniuser'>
			<p class='username'>
				<a href="/entries/<%= entry.id %>"><b><%= entry.title.upcase %></b></a>
				<br>
				<br>
				<%= entry.post %>
				<h5>#<%= entry.tags.join(", #")%></h5>
				<h5>POSTED: <%= entry.date_posted %></h5>
			</p>
		</div>
	<% end %>
</ul>
</div>
</center>
