<img src="<%= @user.avatar %>">
<h2><%= @user.username %></h2>

<div class='blog-list'>
	<% @entries.each do |entry| %>
		<%= entry.title %>
		<%= entry.post %>
		<%= entry.date_posted%>
		</div>
	<% end %>
</div>